.product__info{
    max-width: 1170px;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product__img{
    width: 400px;
    height: 300px;
    object-fit: contain;
}

.product__container{
    width: 700px;
    margin-left: 3.5rem;
}

.product__title{
    color: #ed5d0f;
    font-weight: 400;
}

.product__description{
    margin-top: 20px;
    color: #5f5f5f;
    font-weight: 600;
}

.product__category{
    margin-top: 10px;
    color: #2a27f0;
    font-weight: 500;
}

.product__ContainerPrice{
    margin-top: 20px;
    margin-bottom: 20px;
}

.product__price{
    color: #5f5f5f;
    font-weight: 600;
    font-size: 26px;
}

.product__ContainerManage{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product__manage{
    background: #e1e1e1;
    display: inline;
    margin-top: 10px;
    padding: 6px 30px;
    border-radius: 10px;
}

.product__btns{
    display: flex;
}

.btnStore{
    border: none;
    outline: none;
    text-decoration: none;
    background: #6e0e9e;
    padding: 8px 30px;
    color: #ffffff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    text-align: center;
    margin-right: 5px;
}

.btnStore:hover{
    box-shadow: 0 0 10px 2px #6e0e9e;
}

@media only screen and (max-width: 880px) {
    .product__info{
        display: flex;
        flex-direction: column;
        margin-top: 15%;
    }

    .product__container{
        width: 500px;
        margin-left: 2.5rem;
        margin-top: 20px;
        padding-bottom: 20px;
        margin: auto;
    }

    .product__btns{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        width: 100%;
        align-items: center;
    }

    .product__ContainerManage{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .btnStore{
        margin: 0;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        margin-top: 10px;
        justify-content: center;
    }
}

@media only screen and (max-width: 520px){
    .product__container{
        width: 400px !important;
        margin-left: 2.5rem;
        margin-top: 20px;
        padding-bottom: 20px;
    }
}